.mainWrapper {
  
}

.sideItems {
  display: block;
  position: absolute;
  top: 100px;
}

.container {  
  margin-left: 270px;
  max-width: 70vw;
}


@media screen and (max-width: 700px) {
  .container {
    margin-left: 100px;
  }
}

@media screen and (max-width: 530px) {
  .container {
    margin-left: 0px;
    max-width: 100vw;
  }
}