.nav {
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
}

.button {
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  z-index: 1;
}

.buttonLogin {
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 70px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  z-index: 1;
  background: #ffe066;
  margin-left: 5px;
  font-weight: 600;
  height: 40px;
  border-radius: 0.6818181818182em;
  border: 1px solid #161a2b;
  box-shadow: 0.3181818181818em 0.3181818181818em 0 #fae1dd;
  cursor: pointer;
  color: #161a2b;
}

.nav ul {
  margin: 0;
  padding: 25px;
  position: absolute;
  top: 60px;
  width: 230px;
  z-index: 1;
}

.nav li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.iconPlaceholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  border: none;
  margin-right: 20px;
}

.textPlaceholder {
  border-radius: 5px;
  width: 140px;
  height: 20px;
  flex: 1;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 270px;
  background: #F8FAFD

  ;
  z-index: 1;
}

.Modal {
  position: absolute;
  width: 400px;
  height: 400px;
  margin: 15% 35%;
  background-color: papayawhip;
}

.closeCrossBtn {
  border: none;
  background: transparent;
  font-size: 25px;
  font-weight: 600;
  padding: 10px;
}